* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

:root {
  --light: #ece2fd;
  --dark-hardMode: #043b7a;
  --dark: #654e92;
  --darker-hardMode: #0b1c5b;
  --darker: #4f3d71;
  --darkest-hardMode: #040e34;
  --darkest: #30214c;
  --matching: #a0883a;
  --correct: #4a8b09;
}
body {
  max-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(to top left, var(--darkest), var(--darker));
}

.center {
  text-align: center;
  margin: auto;
  width: 80vw;
}

.stack > * {
  margin-top: 1.5rem;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
h1 {
  font-size: 2.5em;
  color: var(--light);
  font-family: "Suez One", serif;
  margin: 20px auto;
}
.container {
  align-content: center;
  display: grid;
  width: fit-content;
  padding: 10px;
  margin: 0px auto;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 12px;
}
.cell {
  border: none;
  border-radius: 5px;
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bolder;
  text-align: center;
  color: var(--light);
  outline: none;
  margin: auto;
  background-color: var(--dark);
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.curr-row-cell {
  background-color: var(--light);
  color: var(--darker);
}
.btn {
  width: 100px;
  height: 50px;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
  background-color: var(--light);
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
#enter {
  color: var(--dark);
}
.matching-char {
  background-color: var(--matching);
}
.correct-position {
  background-color: var(--correct);
}
#enter {
  color: var(--dark);
}
.mode {
  color: var(--light);
}
#easy {
  background-color: var(--dark);
  width: 150px;
}
.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#hard {
  background-color: var(--dark-hardMode);
  width: 100px;
}
